node_modules/
.DS_Store
/.next/
.turbo/
apps/app/.next
/node_modules/
apps/app/ultravenv/
.env

**/*.env
./packages/**/node_modules
./packages/**/dist
./packages/**/build
./packages/**/coverage
./packages/**/public
./apps/**/node_modules
./apps/**/.next
./apps/**/dist
./apps/**/build
./apps/**/coverage
./apps/**/public

*.csv
*.json
*.jsonl
*.xlsx
*.xls
packages/documentation/files/*.sql
packages/documentation/**/*.sql

*storybook.log
