.active-slide img {
  position: absolute;
  filter: blur(50px);
}
.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 750px;
  overflow: hidden;
}
/* [--main-dark:#000000] [--main-light:#B5650E] [--visual-hidden:1] [--grid-inner-scale:1] [--perspective:1500px] [--grid-item-ratio:1.5] [--grid-width:100%] [--grid-height:auto] [--grid-gap:2vw] [--grid-columns:4] [-webkit-font-smoothing:antialiased] [text-rendering:optimizelegibility] */
.slide {
  position: absolute;
  width: 400px;
  height: 500px;
  overflow: hidden;
}

.active-slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  opacity: 0.35;
  z-index: -1;
}

.active-slide img {
  position: absolute;
  filter: blur(50px);
  transform: scale(1.125);
}

.slider {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 750px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 400px;
  height: 500px;
  overflow: hidden;
}

.slide-copy p {
  text-transform: uppercase;
  text-align: center;
  font-family: 'voga';
  font-size: 22px;
  font-weight: bold;
  line-height: 150%;
  color: var(--color-accent);
}

.slide-copy p#index {
  font-family: 'Basis Grotesque Pro';
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 0.75em;
}
.threed-root {
  z-index: 1;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-content: end;
    align-items: end;
    height: 100svh;
    display: grid;
}

.threed-wrapper  {
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
    perspective: 1000px;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 94%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    transform: translate(0);
}