@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.75rem;
  }

  .dark {
    /* old */
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

  
}

/* 
Cool effect 
 demo: https://github.com/Monichre/LineTextHoverAnimations/blob/main/css/base.css
 code: https://tympanus.net/Development/LineTextHoverAnimations/index.html
 "JetBrains Mono", monospace
body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: repeating-linear-gradient(transparent, transparent 2px, #0000003d 3px);
	background-size: auto 100%;
	pointer-events: none;
}

.root 
--color-bg-effect: white;
--blendmode-effect: difference;
--bg-blur: 0px;


*/
* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
}

@layer utilities {
 
  .bg-card {

   @apply bg-gradient-to-b from-card/70 to-secondary/50;
  } 

  .gradient-background-style-transparent {

    @apply bg-gradient-to-b from-card/50 to-secondary/20;
   }

   .bg-dot {

   }
  
 }

 @layer components {

  .card {
    @apply bg-gradient-to-b from-card/70 to-secondary/50;
  }
  
 }
/* //  -------------------------------------------------------------------------------------- */
@font-face {
  font-family: 'Futura';
  font-style: normal;
  src: url('/src/app/_fonts/futura/futura.ttf');
  font-weight: 400;
  /* Add more font formats and sources if needed */
}
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  src: url('/src/app/_fonts/futura/futura medium bt.ttf');
  /* Add more font formats and sources if needed */
}


@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  src: url('/src/app/_fonts/futura/futura-bold.ttf');
  /* Add more font formats and sources if needed */
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 300;
  src: url('/src/app/_fonts/futura/Futura Light font.ttf');
  /* Add more font formats and sources if needed */
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 900;
  src: url('/src/app/_fonts/futura/futura-black.ttf');
  /* Add more font formats and sources if needed */
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 900;
  src: url('/src/app/_fonts/futura/futura-black.ttf');
  /* Add more font formats and sources if needed */
}


/* //  -------------------------------------------------------------------------------------- */

@font-face {
  font-family: 'Brandbe';
  font-style: normal;
  font-weight: 700;
  src: url('/src/app/_fonts/Brandbe.otf');
  /* Add more font formats and sources if needed */
}

/* //  -------------------------------------------------------------------------------------- */
@font-face {
  font-family: 'Eirene Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/src/app/_fonts/Eirene-Sans-Font-Family/EireneSans-Regular.otf');
  /* Add more font formats and sources if needed */
}

@font-face {
  font-family: 'Centima Sans';
  font-style: normal;
  font-weight: bold;
  src: url('/src/app/_fonts/centima/CentimaProSans-Bold.woff');
  /* Add more font formats and sources if needed */
}
@font-face {
  font-family: 'Centima Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/src/app/_fonts/centima/CentimaProSans.woff');
  /* Add more font formats and sources if needed */
}
@font-face {
  font-family: 'Centima';
  font-style: normal;
  font-weight: bold;
  src: url('/src/app/_fonts/centima/Centima-Mono-W01-Bold.woff');
  /* Add more font formats and sources if needed */
}

@font-face {
  font-family: 'Stellar';
  font-style: normal;
  font-weight: light;
  src: url('./_fonts/stellar/PPStellar-Light.woff');
  
}
@font-face {
  font-family: 'Stellar';
  font-style: normal;
  font-weight: bold;
  src: url('./_fonts/stellar/PPStellar-Bold.woff');
  
}

@font-face {
  font-family: 'Brandbe';
  font-style: normal;
  font-weight: 700;
  src: url('./_fonts/Brandbe.otf');
  /* Add more font formats and sources if needed */
}


/* //  -------------------------------------------------------------------------------------- */

body {
  /* background-image: url('https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg'); */
  background: radial-gradient(circle at center, #004d4d, #003333, #001919);
}

.wordcloud {
  height: 100vh !important;
}

.wordcloud canvas {
  height: 100% !important;
}

.oswald {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: var(--font-ailerons);
  /* text-shadow: 1px 1px 1px #ddd; */
  /* font-family: 'Source Sans 3', sans-serif; */
  /* background: #fff; */
  /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); */
  /* background-image: radial-gradient(
    circle closest-side,
    rgba(255, 255, 255, 0.05),
    transparent
  ); */
  /* color: #fff; */
  letter-spacing: 2px !important;
  text-transform: uppercase;
  text-transform: uppercase;
  background: radial-gradient(
      circle farthest-corner at center center,
      white,
      #111
    )
    no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2, h3 {
  font-family: var(--font-ailerons);
}
canvas {
  background: none !important;
  background-color: transparent !important;
}

* > canvas {
  background: none !important;
  background-color: transparent !important;
}

#graph-canvas > * {
  background: none !important;
  background-color: transparent !important;
}

/* 3d Periodic Style Grid */
.element {
  width: 120px;
  height: 160px;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);

  text-align: center;
  line-height: normal;
  cursor: default;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
}

.element .number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}

.element .symbol {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element .details {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}



.entity-node > *, .root-node > * {
  color: white;
}

a {
  font-family: 
}