@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.75rem;
  }

  .dark {
    /* old */
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
}

@layer utilities {
  .bg-card {
    @apply bg-gradient-to-b from-card/70 to-secondary/50;
  }

  .gradient-background-style-transparent {
    @apply bg-gradient-to-b from-card/50 to-secondary/20;
  }

  .bg-dot {
  }
}

@layer components {
  .card {
    @apply bg-gradient-to-b from-card/70 to-secondary/50;
  }
}

/* @font-face {
  font-family: 'Futura';
  font-style: normal;
  src: url('./fonts/futura/futura.ttf');
  font-weight: 400;
  
}
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/futura/futura medium bt.ttf');
  
}


@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/futura/futura-bold.ttf');
  
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/futura/Futura Light font.ttf');
  
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/futura/futura-black.ttf');
  
}

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/futura/futura-black.ttf');
  
}



@font-face {
  font-family: 'Brandbe';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Brandbe.otf');
  
}


@font-face {
  font-family: 'Eirene Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Eirene-Sans-Font-Family/EireneSans-Regular.otf');
  
}

@font-face {
  font-family: 'Centima Sans';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/centima/CentimaProSans-Bold.woff');
  
}
@font-face {
  font-family: 'Centima Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/centima/CentimaProSans.woff');
  
}
@font-face {
  font-family: 'Centima';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/centima/Centima-Mono-W01-Bold.woff');
  
}

@font-face {
  font-family: 'Stellar';
  font-style: normal;
  font-weight: light;
  src: url('./fonts/stellar/PPStellar-Light.woff');
  
}
@font-face {
  font-family: 'Stellar';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/stellar/PPStellar-Bold.woff');
  
}

@font-face {
  font-family: 'Brandbe';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Brandbe.otf');
  
}

@font-face {
  font-family: 'Ailerons';
  
  
  src: url('./fonts/ailerons.woff2');
  
} */

@font-face {
  font-family: 'JetBrains Mono', monospace;
  src: url('/src/app/fonts/jetbrains/JetBrainsMono-VariableFront_wght.ttf')
    format('ttf');

  /* src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap'); */
}
/* @font-face {
  font-family: 'FAMILY_NAME';
  font-style: NORMAL_OR_ITALIC;
  font-weight: NUMERIC_WEIGHT_VALUE;
  src: url(FONT_FILE_NAME.woff2) format('woff2');
} */

/* background-image: url('https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg'); */
/* background: radial-gradient(circle at center, #004d4d, #003333, #001919); */
body {
  background-color: #fff;
  /* background-color: #0a0a0a; */
  /* background-image: radial-gradient(ellipse 80% 80% at 50% -20%,rgba(120,119,198,0.3),rgba(255,255,255,0)); */
  font-family: 'JetBrains Mono', monospace;
}
.word-cloud-page {
  /* background-color: #0a0a0a; */
  /* background: linear-gradient(
    to right bottom,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  ); */
  position: relative;
}
.word-cloud-page::after,
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(
    transparent,
    transparent 2px,
    #0000003d 3px
  );
  background-size: auto 100%;
  pointer-events: none;
}

h2,
h3 {
  font-family: 'Centima Sans', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

p {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 21px;
}
.hover-menu {
  height: auto;
  position: relative;
}
.hover-menu::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(
    transparent,
    transparent 2px,
    #0000003d 3px
  );
  background-size: auto 100%;
  pointer-events: none;
}
/* 
Cool effect 
 demo: https://github.com/Monichre/LineTextHoverAnimations/blob/main/css/base.css
 code: https://tympanus.net/Development/LineTextHoverAnimations/index.html
 "JetBrains Mono", monospace


.root 
--color-bg-effect: white;
--blendmode-effect: difference;
--bg-blur: 0px;

*/
.wordcloud {
  height: 100vh !important;
}

.wordcloud canvas {
  height: 100% !important;
}

.oswald {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: 'Ailerons';
  /* text-shadow: 1px 1px 1px #ddd; */
  /* font-family: 'Source Sans 3', sans-serif; */
  /* background: #fff; */
  /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); */
  /* background-image: radial-gradient(
    circle closest-side,
    rgba(255, 255, 255, 0.05),
    transparent
  ); */
  /* color: #fff; */
  letter-spacing: 2px !important;
  text-transform: uppercase;
  text-transform: uppercase;
  background: radial-gradient(
      circle farthest-corner at center center,
      #000,
      #000
    )
    no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2,
h3 {
  /* font-family: var(--font-ailerons); */
  font-family: var(--font-centima-sans);
}
.card h3 {
  font-family: var(--font-centima-sans);
}
canvas {
  background: none !important;
  background-color: transparent !important;
}

* > canvas {
  background: none !important;
  background-color: transparent !important;
}

#graph-canvas > * {
  background: none !important;
  background-color: transparent !important;
}

/* 3d Periodic Style Grid */
.element {
  width: 120px;
  height: 160px;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);

  text-align: center;
  line-height: normal;
  cursor: default;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
}

.element .number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}

.element .symbol {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  font-size: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element .details {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}

.entity-node > *,
.root-node > * {
  color: white;
}

a {
  /* font-family:  */
}

/* .mindmap-sidebar {
  background-color: transparent !important;
  background: transparent !important;

} */

.site-tagline {
  position: relative;
  width: fit-content;
  margin: auto;
}

.site-tagline:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 45%;
  height: 2px;
  width: 0;
  background: #000;
  transition: width 0.3s ease-in-out;
  transition-delay: 1s;
  z-index: 2;
}

.in-view .site-tagline:after {
  width: 10%;
}

.sign-in-button .cl-userButton-root {
  margin-right: 12px;
}

.mindmap-sidebar {
  background-color: #000 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='16' height='16' fill='none'%3e%3ccircle fill='rgb(255 255 255 / 0.2)' id='pattern-circle' cx='10' cy='10' r='1.6257413380501518'%3e%3c/circle%3e%3c/svg%3e");
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  /* background: #09090b;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='16' height='16' fill='none'%3e%3ccircle fill='rgb(255 255 255 / 0.2)' id='pattern-circle' cx='10' cy='10' r='1.6257413380501518'%3e%3c/circle%3e%3c/svg%3e");
  background:
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='16' height='16' fill='none'%3e%3ccircle fill='rgb(255 255 255 / 0.2)' id='pattern-circle' cx='10' cy='10' r='1.6257413380501518'%3e%3c/circle%3e%3c/svg%3e")
      no-repeat center center / cover,
    rgba(9 9 11 0.5); */
}
/* 
.animated-path-1 {
  stroke-dasharray: 1px, 5px;
  stroke-dashoffset: 2px;
  
} */

.bg-1 {
  background-color: rgb(87, 83, 78);
  background-image: radial-gradient(
      at 54% 24%,
      rgb(148, 163, 184) 0,
      transparent 38%
    ),
    radial-gradient(at 24% 8%, rgb(245, 245, 244) 0, transparent 76%),
    radial-gradient(at 33% 80%, rgb(13, 148, 136) 0, transparent 25%),
    radial-gradient(at 60% 82%, rgb(24, 24, 27) 0, transparent 90%),
    radial-gradient(at 63% 63%, rgb(6, 182, 212) 0, transparent 87%),
    radial-gradient(at 93% 5%, rgb(29, 78, 216) 0, transparent 74%);
}
.bg-2 {
  background-color: rgb(236, 252, 203);
  background-image: radial-gradient(
      at 19% 46%,
      rgb(68, 64, 60) 0,
      transparent 81%
    ),
    radial-gradient(at 91% 72%, rgb(127, 29, 29) 0, transparent 41%),
    radial-gradient(at 77% 98%, rgb(56, 189, 248) 0, transparent 88%),
    radial-gradient(at 85% 30%, rgb(125, 211, 252) 0, transparent 18%),
    radial-gradient(at 92% 76%, rgb(17, 24, 39) 0, transparent 99%),
    radial-gradient(at 57% 55%, rgb(248, 113, 113) 0, transparent 60%);
}
.bg-3 {
  background-color: rgb(207, 250, 254);
  background-image: radial-gradient(
      at 22% 69%,
      rgb(30, 58, 138) 0,
      transparent 24%
    ),
    radial-gradient(at 85% 21%, rgb(17, 24, 39) 0, transparent 8%),
    radial-gradient(at 41% 32%, rgb(167, 139, 250) 0, transparent 68%),
    radial-gradient(at 78% 48%, rgb(96, 165, 250) 0, transparent 94%),
    radial-gradient(at 74% 67%, rgb(34, 197, 94) 0, transparent 43%),
    radial-gradient(at 19% 19%, rgb(217, 70, 239) 0, transparent 81%);
}

.bg-4 {
  background-color: rgb(34, 197, 94);
  background-image: radial-gradient(
      at 24% 80%,
      rgb(30, 41, 59) 0,
      transparent 47%
    ),
    radial-gradient(at 38% 88%, rgb(103, 232, 249) 0, transparent 70%),
    radial-gradient(at 85% 80%, rgb(56, 189, 248) 0, transparent 67%),
    radial-gradient(at 36% 78%, rgb(180, 83, 9) 0, transparent 92%),
    radial-gradient(at 14% 94%, rgb(228, 228, 231) 0, transparent 17%),
    radial-gradient(at 18% 37%, rgb(163, 163, 163) 0, transparent 19%);
}
.bg-5 {
  background-color: rgb(224, 242, 254);
  background-image: radial-gradient(
      at 50% 22%,
      rgb(14, 165, 233) 0,
      transparent 94%
    ),
    radial-gradient(at 59% 61%, rgb(16, 185, 129) 0, transparent 65%),
    radial-gradient(at 13% 15%, rgb(22, 78, 99) 0, transparent 62%),
    radial-gradient(at 91% 85%, rgb(225, 29, 72) 0, transparent 49%),
    radial-gradient(at 65% 73%, rgb(14, 116, 144) 0, transparent 92%),
    radial-gradient(at 50% 56%, rgb(13, 148, 136) 0, transparent 47%);
}

.admin-dashboard-table-card {
  /* background: radial-gradient(
    50% 86.9% at 49.99999847225504% 99.99999436619007%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
  background: #000206;

  /* #0a0a0a; */

  /* background: radial-gradient(#ffffff33 1px, #00091d 1px); */
  /* background-size:
    100%,
    20px 20px;
  background-position:
    center,
    0 0; */
  /* background-color: rgb(207, 250, 254); */
  /* background-image: radial-gradient(
    at 85% 21%,
    rgb(17, 24, 39) 0,
    transparent 8%
  ); */
  /* radial-gradient(
      at 22% 69%,
      rgb(30, 58, 138) 0,
      transparent 24%
    ),
    radial-gradient(at 85% 21%, rgb(17, 24, 39) 0, transparent 8%),
    radial-gradient(at 41% 32%, rgb(167, 139, 250) 0, transparent 68%),
    radial-gradient(at 78% 48%, rgb(96, 165, 250) 0, transparent 94%),
    radial-gradient(at 74% 67%, rgb(34, 197, 94) 0, transparent 43%),
    radial-gradient(at 19% 19%, rgb(217, 70, 239) 0, transparent 81%); */
}

td,
td p {
  font-family: var(--font-jetbrains);
  font-weight: 400;
  letter-spacing: 1px;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
.raycast-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url('/rcd.jpeg') l;
}
.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cfilter id=%22b%22 x=%22-200%25%22 y=%22-200%25%22 width=%22500%25%22 height=%22500%25%22%3E%3CfeGaussianBlur in=%22SourceGraphic%22 stdDeviation=%2220%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath fill=%22%23000109%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cellipse cx=%22145.812%22 cy=%2236.7%22 rx=%221.766%22 ry=%221.464%22 fill=%22%23fff%22 opacity=%22.003%22%2F%3E%3Cellipse cx=%22347.279%22 cy=%2215.691%22 rx=%221.128%22 ry=%221.108%22 fill=%22%23fff%22 opacity=%22-.091%22%2F%3E%3Cellipse cx=%22433.535%22 cy=%22113.03%22 rx=%221.189%22 ry=%221.002%22 fill=%22%23fff%22 opacity=%22.551%22%2F%3E%3Cellipse cx=%22707.209%22 cy=%2214.394%22 rx=%222.024%22 ry=%221.612%22 fill=%22%23fff%22 opacity=%22.179%22%2F%3E%3Cellipse cx=%22936.99%22 cy=%22132.149%22 rx=%221.139%22 ry=%221.04%22 fill=%22%23fff%22 opacity=%22-.009%22%2F%3E%3Cellipse cx=%221167.023%22 cy=%2228.959%22 rx=%221.506%22 ry=%221.185%22 fill=%22%23fff%22 opacity=%22.121%22%2F%3E%3Cellipse cx=%221285.044%22 cy=%2232.313%22 rx=%221.912%22 ry=%221.673%22 fill=%22%23fff%22 opacity=%22.466%22%2F%3E%3Cellipse cx=%221532.904%22 cy=%2287.825%22 rx=%221.837%22 ry=%221.468%22 fill=%22%23fff%22 opacity=%22.669%22%2F%3E%3Cellipse cx=%221762.968%22 cy=%2252.975%22 rx=%222.412%22 ry=%221.944%22 fill=%22%23fff%22 opacity=%22.617%22%2F%3E%3Cellipse cx=%221995.018%22 cy=%2224.694%22 rx=%221.953%22 ry=%221.541%22 fill=%22%23fff%22 opacity=%22.457%22%2F%3E%3Cellipse cx=%22135.081%22 cy=%22191.516%22 rx=%222.217%22 ry=%221.921%22 fill=%22%23fff%22 opacity=%22.424%22%2F%3E%3Cellipse cx=%22279.562%22 cy=%22214.999%22 rx=%221.832%22 ry=%221.765%22 fill=%22%23fff%22 opacity=%22.135%22%2F%3E%3Cellipse cx=%22599.353%22 cy=%22177.29%22 rx=%221.295%22 ry=%221.009%22 fill=%22%23fff%22 opacity=%22.623%22%2F%3E%3Cellipse cx=%22721.46%22 cy=%22207.45%22 rx=%221.674%22 ry=%221.501%22 fill=%22%23fff%22 opacity=%22.429%22%2F%3E%3Cellipse cx=%22882.919%22 cy=%22152.775%22 rx=%221.698%22 ry=%221.687%22 fill=%22%23fff%22 opacity=%22.044%22%2F%3E%3Cellipse cx=%221080.304%22 cy=%22242.943%22 rx=%221.536%22 ry=%221.355%22 fill=%22%23fff%22 opacity=%22.185%22%2F%3E%3Cellipse cx=%221218.439%22 cy=%22149.965%22 rx=%221.331%22 ry=%221.118%22 fill=%22%23fff%22 opacity=%22.666%22%2F%3E%3Cellipse cx=%221564.529%22 cy=%22273.571%22 rx=%221.867%22 ry=%221.819%22 fill=%22%23fff%22 opacity=%22-.01%22%2F%3E%3Cellipse cx=%221749.414%22 cy=%22146.132%22 rx=%222.262%22 ry=%221.866%22 fill=%22%23fff%22 opacity=%22.329%22%2F%3E%3Cellipse cx=%221915.734%22 cy=%22165.96%22 rx=%221.644%22 ry=%221.563%22 fill=%22%23fff%22 opacity=%22.71%22%2F%3E%3Cellipse cx=%22196.208%22 cy=%22365.424%22 rx=%221.897%22 ry=%221.88%22 fill=%22%23fff%22 opacity=%22-.022%22%2F%3E%3Cellipse cx=%22379.805%22 cy=%22383.25%22 rx=%221.78%22 ry=%221.684%22 fill=%22%23fff%22 opacity=%22.405%22%2F%3E%3Cellipse cx=%22481.548%22 cy=%22312.928%22 rx=%222.177%22 ry=%221.749%22 fill=%22%23fff%22 opacity=%22.303%22%2F%3E%3Cellipse cx=%22697.946%22 cy=%22403.208%22 rx=%221.955%22 ry=%221.591%22 fill=%22%23fff%22 opacity=%22.13%22%2F%3E%3Cellipse cx=%22973.036%22 cy=%22283.332%22 rx=%221.946%22 ry=%221.537%22 fill=%22%23fff%22 opacity=%22.675%22%2F%3E%3Cellipse cx=%221095.031%22 cy=%22388.986%22 rx=%221.506%22 ry=%221.241%22 fill=%22%23fff%22 opacity=%22.077%22%2F%3E%3Cellipse cx=%221205.702%22 cy=%22358.093%22 rx=%221.742%22 ry=%221.632%22 fill=%22%23fff%22 opacity=%22.043%22%2F%3E%3Cellipse cx=%221545.366%22 cy=%22403.407%22 rx=%221.849%22 ry=%221.773%22 fill=%22%23fff%22 opacity=%22.202%22%2F%3E%3Cellipse cx=%221672.158%22 cy=%22391.96%22 rx=%221.792%22 ry=%221.579%22 fill=%22%23fff%22 opacity=%22.687%22%2F%3E%3Cellipse cx=%221909.551%22 cy=%22334.121%22 rx=%222.256%22 ry=%221.823%22 fill=%22%23fff%22 opacity=%22.386%22%2F%3E%3Cellipse cx=%22112.495%22 cy=%22489.146%22 rx=%221.475%22 ry=%221.304%22 fill=%22%23fff%22 opacity=%22.257%22%2F%3E%3Cellipse cx=%22206.942%22 cy=%22428.086%22 rx=%222.3%22 ry=%221.829%22 fill=%22%23fff%22 opacity=%22.842%22%2F%3E%3Cellipse cx=%22422.233%22 cy=%22458.17%22 rx=%222.263%22 ry=%221.974%22 fill=%22%23fff%22 opacity=%22.203%22%2F%3E%3Cellipse cx=%22672.71%22 cy=%22442.928%22 rx=%221.444%22 ry=%221.225%22 fill=%22%23fff%22 opacity=%22.452%22%2F%3E%3Cellipse cx=%22926.596%22 cy=%22446.082%22 rx=%221.916%22 ry=%221.733%22 fill=%22%23fff%22 opacity=%22.733%22%2F%3E%3Cellipse cx=%221178.377%22 cy=%22485.72%22 rx=%221.971%22 ry=%221.602%22 fill=%22%23fff%22 opacity=%22.706%22%2F%3E%3Cellipse cx=%221332.398%22 cy=%22523.102%22 rx=%221.528%22 ry=%221.199%22 fill=%22%23fff%22 opacity=%22.763%22%2F%3E%3Cellipse cx=%221546.924%22 cy=%22493.661%22 rx=%221.863%22 ry=%221.638%22 fill=%22%23fff%22 opacity=%22.287%22%2F%3E%3Cellipse cx=%221761.65%22 cy=%22491.259%22 rx=%221.814%22 ry=%221.321%22 fill=%22%23fff%22 opacity=%22.355%22%2F%3E%3Cellipse cx=%221843.365%22 cy=%22435.382%22 rx=%222.311%22 ry=%221.981%22 fill=%22%23fff%22 opacity=%22.556%22%2F%3E%3Cellipse cx=%2284.37%22 cy=%22631.449%22 rx=%221.505%22 ry=%221.179%22 fill=%22%23fff%22 opacity=%22.411%22%2F%3E%3Cellipse cx=%22238.541%22 cy=%22597.483%22 rx=%221.756%22 ry=%221.473%22 fill=%22%23fff%22 opacity=%22.163%22%2F%3E%3Cellipse cx=%22422.501%22 cy=%22603.877%22 rx=%221.834%22 ry=%221.596%22 fill=%22%23fff%22 opacity=%22.286%22%2F%3E%3Cellipse cx=%22697.602%22 cy=%22594.109%22 rx=%222.187%22 ry=%221.866%22 fill=%22%23fff%22 opacity=%22-.064%22%2F%3E%3Cellipse cx=%22972.295%22 cy=%22678.868%22 rx=%222.175%22 ry=%221.784%22 fill=%22%23fff%22 opacity=%22.003%22%2F%3E%3Cellipse cx=%221147.262%22 cy=%22635.114%22 rx=%221.419%22 ry=%221.406%22 fill=%22%23fff%22 opacity=%22.44%22%2F%3E%3Cellipse cx=%221351.111%22 cy=%22680.019%22 rx=%221.548%22 ry=%221.268%22 fill=%22%23fff%22 opacity=%22.374%22%2F%3E%3Cellipse cx=%221591.72%22 cy=%22601.299%22 rx=%221.781%22 ry=%221.484%22 fill=%22%23fff%22 opacity=%22.368%22%2F%3E%3Cellipse cx=%221738.915%22 cy=%22632.563%22 rx=%221.964%22 ry=%221.618%22 fill=%22%23fff%22 opacity=%22.637%22%2F%3E%3Cellipse cx=%221924.558%22 cy=%22640.924%22 rx=%221.346%22 ry=%221.062%22 fill=%22%23fff%22 opacity=%22.551%22%2F%3E%3Cellipse cx=%2272.18%22 cy=%22719.804%22 rx=%222.032%22 ry=%221.796%22 fill=%22%23fff%22 opacity=%22.682%22%2F%3E%3Cellipse cx=%22367.037%22 cy=%22835.252%22 rx=%221.908%22 ry=%221.896%22 fill=%22%23fff%22 opacity=%22.21%22%2F%3E%3Cellipse cx=%22564.134%22 cy=%22748.612%22 rx=%222.191%22 ry=%221.852%22 fill=%22%23fff%22 opacity=%22.173%22%2F%3E%3Cellipse cx=%22707.764%22 cy=%22775.537%22 rx=%221.871%22 ry=%221.781%22 fill=%22%23fff%22 opacity=%22.696%22%2F%3E%3Cellipse cx=%22936.806%22 cy=%22750.773%22 rx=%221.737%22 ry=%221.637%22 fill=%22%23fff%22 opacity=%22.295%22%2F%3E%3Cellipse cx=%221052.804%22 cy=%22728.366%22 rx=%221.254%22 ry=%221.109%22 fill=%22%23fff%22 opacity=%22-.007%22%2F%3E%3Cellipse cx=%221202.794%22 cy=%22749.033%22 rx=%221.845%22 ry=%221.701%22 fill=%22%23fff%22 opacity=%22.248%22%2F%3E%3Cellipse cx=%221579.165%22 cy=%22802.339%22 rx=%221.894%22 ry=%221.682%22 fill=%22%23fff%22 opacity=%22.679%22%2F%3E%3Cellipse cx=%221734.359%22 cy=%22780.901%22 rx=%221.629%22 ry=%221.465%22 fill=%22%23fff%22 opacity=%22.421%22%2F%3E%3Cellipse cx=%221942.128%22 cy=%22802.184%22 rx=%221.346%22 ry=%221.02%22 fill=%22%23fff%22 opacity=%22.768%22%2F%3E%3Cellipse cx=%226.371%22 cy=%22977.069%22 rx=%221.792%22 ry=%221.566%22 fill=%22%23fff%22 opacity=%22.466%22%2F%3E%3Cellipse cx=%22367.976%22 cy=%22976.284%22 rx=%222.061%22 ry=%221.999%22 fill=%22%23fff%22 opacity=%22.305%22%2F%3E%3Cellipse cx=%22422.279%22 cy=%22964.367%22 rx=%222.184%22 ry=%221.747%22 fill=%22%23fff%22 opacity=%22.128%22%2F%3E%3Cellipse cx=%22753.902%22 cy=%22856.648%22 rx=%221.644%22 ry=%221.632%22 fill=%22%23fff%22 opacity=%22.059%22%2F%3E%3Cellipse cx=%22939.322%22 cy=%22961.364%22 rx=%221.86%22 ry=%221.814%22 fill=%22%23fff%22 opacity=%22.196%22%2F%3E%3Cellipse cx=%221117.091%22 cy=%22924.586%22 rx=%222.001%22 ry=%221.8%22 fill=%22%23fff%22 opacity=%22.402%22%2F%3E%3Cellipse cx=%221241.896%22 cy=%22872.303%22 rx=%222.338%22 ry=%221.939%22 fill=%22%23fff%22 opacity=%22.117%22%2F%3E%3Cellipse cx=%221594.29%22 cy=%22862.864%22 rx=%221.293%22 ry=%221.289%22 fill=%22%23fff%22 opacity=%22.472%22%2F%3E%3Cellipse cx=%221694.966%22 cy=%22868.527%22 rx=%222.316%22 ry=%221.857%22 fill=%22%23fff%22 opacity=%22.524%22%2F%3E%3Cellipse cx=%221947.42%22 cy=%22967.357%22 rx=%222.286%22 ry=%221.98%22 fill=%22%23fff%22 opacity=%22.085%22%2F%3E%3Cellipse cx=%22.714%22 cy=%221035.951%22 rx=%221.859%22 ry=%221.726%22 fill=%22%23fff%22 opacity=%22.676%22%2F%3E%3Cellipse cx=%22328.24%22 cy=%221117.55%22 rx=%222.043%22 ry=%221.735%22 fill=%22%23fff%22 opacity=%22.608%22%2F%3E%3Cellipse cx=%22479.205%22 cy=%221051.542%22 rx=%222.171%22 ry=%221.683%22 fill=%22%23fff%22 opacity=%22-.129%22%2F%3E%3Cellipse cx=%22602.521%22 cy=%221079.682%22 rx=%222.272%22 ry=%221.948%22 fill=%22%23fff%22 opacity=%22.525%22%2F%3E%3Cellipse cx=%22967.07%22 cy=%22981.748%22 rx=%221.129%22 ry=%221.083%22 fill=%22%23fff%22 opacity=%22.277%22%2F%3E%3Cellipse cx=%221004.193%22 cy=%22988.693%22 rx=%221.539%22 ry=%221.371%22 fill=%22%23fff%22 opacity=%22.128%22%2F%3E%3Cellipse cx=%221332.496%22 cy=%221093.586%22 rx=%222.15%22 ry=%221.719%22 fill=%22%23fff%22 opacity=%22-.083%22%2F%3E%3Cellipse cx=%221513.036%22 cy=%221050.951%22 rx=%222.466%22 ry=%221.997%22 fill=%22%23fff%22 opacity=%22.03%22%2F%3E%3Cellipse cx=%221772.702%22 cy=%221114.483%22 rx=%221.585%22 ry=%221.495%22 fill=%22%23fff%22 opacity=%22-.03%22%2F%3E%3Cellipse cx=%221858.741%22 cy=%221012.59%22 rx=%221.155%22 ry=%221.083%22 fill=%22%23fff%22 opacity=%22.624%22%2F%3E%3Cellipse cx=%2235.39%22 cy=%221199.421%22 rx=%221.458%22 ry=%221.227%22 fill=%22%23fff%22 opacity=%22.23%22%2F%3E%3Cellipse cx=%22325.371%22 cy=%221229.481%22 rx=%221.924%22 ry=%221.739%22 fill=%22%23fff%22 opacity=%22.508%22%2F%3E%3Cellipse cx=%22426.836%22 cy=%221239.887%22 rx=%222.054%22 ry=%221.64%22 fill=%22%23fff%22 opacity=%22.074%22%2F%3E%3Cellipse cx=%22622.477%22 cy=%221184.207%22 rx=%222.278%22 ry=%221.874%22 fill=%22%23fff%22 opacity=%22.498%22%2F%3E%3Cellipse cx=%22892.377%22 cy=%221180.809%22 rx=%222.078%22 ry=%221.995%22 fill=%22%23fff%22 opacity=%22.588%22%2F%3E%3Cellipse cx=%221138.974%22 cy=%221235.985%22 rx=%221.575%22 ry=%221.13%22 fill=%22%23fff%22 opacity=%22.664%22%2F%3E%3Cellipse cx=%221300.71%22 cy=%221191.637%22 rx=%221.65%22 ry=%221.173%22 fill=%22%23fff%22 opacity=%22.797%22%2F%3E%3Cellipse cx=%221485.274%22 cy=%221167.599%22 rx=%221.503%22 ry=%221.317%22 fill=%22%23fff%22 opacity=%22.954%22%2F%3E%3Cellipse cx=%221758.732%22 cy=%221157.65%22 rx=%222.109%22 ry=%221.71%22 fill=%22%23fff%22 opacity=%22.057%22%2F%3E%3Cellipse cx=%221890.989%22 cy=%221259.371%22 rx=%221.52%22 ry=%221.344%22 fill=%22%23fff%22 opacity=%22.506%22%2F%3E%3Cellipse cx=%2230.123%22 cy=%221385.751%22 rx=%221.55%22 ry=%221.467%22 fill=%22%23fff%22 opacity=%22-.133%22%2F%3E%3Cellipse cx=%22268.171%22 cy=%221398.079%22 rx=%221.854%22 ry=%221.374%22 fill=%22%23fff%22 opacity=%22.637%22%2F%3E%3Cellipse cx=%22503.373%22 cy=%221331.593%22 rx=%221.452%22 ry=%221.406%22 fill=%22%23fff%22 opacity=%22.038%22%2F%3E%3Cellipse cx=%22654.72%22 cy=%221352.323%22 rx=%222.046%22 ry=%221.675%22 fill=%22%23fff%22 opacity=%22.714%22%2F%3E%3Cellipse cx=%22936.742%22 cy=%221325.98%22 rx=%222.141%22 ry=%221.831%22 fill=%22%23fff%22 opacity=%22.547%22%2F%3E%3Cellipse cx=%221031.393%22 cy=%221399.217%22 rx=%221.805%22 ry=%221.577%22 fill=%22%23fff%22 opacity=%22.608%22%2F%3E%3Cellipse cx=%221228.909%22 cy=%221339.656%22 rx=%221.213%22 ry=%221.01%22 fill=%22%23fff%22 opacity=%22.086%22%2F%3E%3Cellipse cx=%221466.458%22 cy=%221273.377%22 rx=%221.949%22 ry=%221.664%22 fill=%22%23fff%22 opacity=%22.2%22%2F%3E%3Cellipse cx=%221656.849%22 cy=%221311.162%22 rx=%222.209%22 ry=%221.972%22 fill=%22%23fff%22 opacity=%22.547%22%2F%3E%3Cellipse cx=%221860.602%22 cy=%221281.768%22 rx=%221.94%22 ry=%221.742%22 fill=%22%23fff%22 opacity=%22.261%22%2F%3E%3Cg transform=%22rotate(-64.499 190.746 -52.901)%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 x1=%220%22 y1=%221%22 x2=%22304.496%22 y2=%221%22 gradientUnits=%22userSpaceOnUse%22%3E%3Cstop stop-color=%22%23fff%22%2F%3E%3Cstop offset=%22.3%22 stop-color=%22%23fff%22 stop-opacity=%22.1%22%2F%3E%3Cstop offset=%22.7%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect x=%22-15.225%22 y=%22-12.5%22 width=%22121.798%22 height=%2225%22 rx=%2225%22 ry=%2225%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22182.698%22 height=%228%22 rx=%228%22 ry=%228%22 fill=%22url(%23a)%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-55.792 887.407 -1000.29)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-14.019%22 y=%22-12.5%22 width=%22112.154%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22168.231%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-55.015 1554.626 -1187.082)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-16.304%22 y=%22-12.5%22 width=%22130.43%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22195.646%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-61.82 1602.674 -938.7)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-11.22%22 y=%22-12.5%22 width=%2289.758%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22134.637%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-60.497 1705.777 -555.784)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-14.744%22 y=%22-12.5%22 width=%22117.952%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22176.928%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.key-figures.fullsite-nav p {
  color: #fff !important;
}
